* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --primaryColor: #3A3845;
    --primaryfont: "Inter";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "EB Garamond", serif;
}

body {
    font-family: var(--primaryfont);
}

.header {

    padding: 21.84px;


}

.header a {
    text-decoration: none;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    /*color:#3A3845;*/
    color: var(--primaryColor);
}

.hero {
    height: 640px;
    width: 1440px;
    display: flex;
}

.container {
    margin: 0 auto;
    width: calc(100% - 20%);

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.list ul {
    list-style-type: none;
    display: flex;
    gap: 60px;
}

.icon ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.menu {
    display: none;
}

.collections {
    display: flex;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;

}

.collections h2 {
    /*margin-top: 23px;*/
    text-transform: capitalize;
    /*color:#3A3845;*/
    color: var(--primaryColor);
}

.collection {
    width: calc((100% - 90px)/4);
    text-align: center;
}


.img {
    width: 100%;
}




@media screen and (min-width:0) and (max-width:996px) {
    .list {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu {
        display: flex;
    }
}

@media screen and (min-width:0) and (max-width:400px) {
    .collections .row {
        flex-direction: column;
    }

    .collection {
        width: 100%;
    }
}

@media screen and (min-width:401px) and (max-width:770px) {
    .collection {
        width: calc((100% - 30px)/2);

    }
}

@media screen and (min-width:771px) and (max-width:900px) {
    .collection {
        width: calc((100% - 60px)/3);

    }
}

.demo img {
    width: 555px;
    height: 348px;
}

.best_sellers {
    text-align: center;
    padding: 80px 0;
}
.best_sellers .item {
    text-align: left;
}
.best_sellers h2{
    font-size: 30px;
    font-weight:  700;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 48px;
}
.best_sellers h3{
    font-size: 14px;
    font-weight:  600;
    text-transform: uppercase;
    letter-spacing: 6%;
    margin-bottom: 12px;
}
.best_sellers .price{
    font-size: 14px;
    font-weight:  600;
}
.best_sellers p{
    color: #807F86;
    width:80%;
    font-size: 14px;
    font-weight:  300;
    line-height: 22px;
    margin-top: 24px;
    margin-bottom: 38px;
}
.best_sellers .add-to-card{
    padding:15px 81px;
    background-color: #fff;
    border: 1px solid #000;
    letter-spacing: 4px;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
}
.best_sellers .item{
    margin-top: 24px;
    width:calc((100% - 90px)/4);
}
.best_sellers .row{
    gap:30px;
}
@media screen and (min-width:0) and (max-width:400px){
    .best_sellers .item{
        width:100%;
    }
}
@media screen and (min-width:401px) and (max-width:700px){
    .best_sellers .item{
        width:calc((100% - 30px)/2);
    }
        .best_sellers .add-to-card{
        padding: 15px 50px;
    }
}
@media screen and (min-width:701px) and (max-width:960px){
    .best_sellers .item{
        width:calc((100% - 60px)/3);
    }
    .best_sellers .add-to-card{
        padding: 15px 50px;
    }
}