*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    gap:232.5px;
    padding: 21.84px;
    margin: 0 165px;
}
.list ul{
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.icon ul{
    list-style-type: none;
    display: flex;
    gap: 24px; 
}
.collections{
    display: flex;
    text-align: center;
    gap: 30px;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
     margin: 0 165px;
}
.collection{
    width:calc((100% - 90px)/4);
}
.img{
    width:100%;
}
h2{
    margin-top: 23px;
}