*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    gap:232.5px;
    padding: 21.84px;
    margin: 0 165px;
}
.list ul{
    list-style-type: none;
    display: flex;
    gap: 60px;
}
.icon ul{
    list-style-type: none;
    display: flex;
    gap: 24px; 
}
